.container {
  max-width: 980px;
  margin: 0 auto
}

.row {
  margin: 20px 0;
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));;
  grid-auto-rows: 100px;
}

.flip-card {
  cursor: pointer;
}

.flip-card.selected .card-body {
  transform: rotateY(180deg);
}

.card-body {
  font-size: 30px;
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-back,
.card-front {
  backface-visibility: hidden;
  height: 100%;
  line-height: 100px;
  position: absolute;
  width: 100%;
}

.card-back {
  transform: rotateY(180deg);
}

.points-text {
  text-align: right;
}

.flip-card.paired .card-back {
  background-color: #eee;
}
